<h1>Listing user_accesses</h1>

<table>
  <tr>
    <th>Playground</th>
    <th>User</th>
    <th>Organisation</th>
    <th>Business area</th>
    <th>Business flow</th>
    <th>Business process</th>
    <th>Description</th>
    <th>Organisation level 1</th>
    <th>Organisation level 2</th>
    <th>Organisation level 3</th>
    <th>Organisation level 4</th>
    <th>Organisation level 5</th>
    <th>Organisation level 6</th>
    <th>Session number</th>
    <th>Session name</th>
    <th>Created by</th>
    <th>Updated by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_accesses.each do |user_access| %>
  <tr>
    <td><%= user_access.playground_id %></td>
    <td><%= user_access.user_id %></td>
    <td><%= user_access.organisation_id %></td>
    <td><%= user_access.business_area_id %></td>
    <td><%= user_access.business_flow_id %></td>
    <td><%= user_access.business_process_id %></td>
    <td><%= user_access.description %></td>
    <td><%= user_access.organisation_level_1 %></td>
    <td><%= user_access.organisation_level_2 %></td>
    <td><%= user_access.organisation_level_3 %></td>
    <td><%= user_access.organisation_level_4 %></td>
    <td><%= user_access.organisation_level_5 %></td>
    <td><%= user_access.organisation_level_6 %></td>
    <td><%= user_access.session_number %></td>
    <td><%= user_access.session_name %></td>
    <td><%= user_access.created_by %></td>
    <td><%= user_access.updated_by %></td>
    <td><%= link_to 'Show', user_access %></td>
    <td><%= link_to 'Edit', edit_user_access_path(user_access) %></td>
    <td><%= link_to 'Destroy', user_access, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User access', new_user_access_path %>
