<p id="notice"><%= notice %></p>

<p>
  <b>Playground:</b>
  <%= @user_access.playground_id %>
</p>

<p>
  <b>User:</b>
  <%= @user_access.user_id %>
</p>

<p>
  <b>Organisation:</b>
  <%= @user_access.organisation_id %>
</p>

<p>
  <b>Business area:</b>
  <%= @user_access.business_area_id %>
</p>

<p>
  <b>Business flow:</b>
  <%= @user_access.business_flow_id %>
</p>

<p>
  <b>Business process:</b>
  <%= @user_access.business_process_id %>
</p>

<p>
  <b>Description:</b>
  <%= @user_access.description %>
</p>

<p>
  <b>Organisation level 1:</b>
  <%= @user_access.organisation_level_1 %>
</p>

<p>
  <b>Organisation level 2:</b>
  <%= @user_access.organisation_level_2 %>
</p>

<p>
  <b>Organisation level 3:</b>
  <%= @user_access.organisation_level_3 %>
</p>

<p>
  <b>Organisation level 4:</b>
  <%= @user_access.organisation_level_4 %>
</p>

<p>
  <b>Organisation level 5:</b>
  <%= @user_access.organisation_level_5 %>
</p>

<p>
  <b>Organisation level 6:</b>
  <%= @user_access.organisation_level_6 %>
</p>

<p>
  <b>Session number:</b>
  <%= @user_access.session_number %>
</p>

<p>
  <b>Session name:</b>
  <%= @user_access.session_name %>
</p>

<p>
  <b>Created by:</b>
  <%= @user_access.created_by %>
</p>

<p>
  <b>Updated by:</b>
  <%= @user_access.updated_by %>
</p>


<%= link_to 'Edit', edit_user_access_path(@user_access) %> |
<%= link_to 'Back', user_accesses_path %>
