<p id="notice"><%= notice %></p>

<p>
  <b>Playground:</b>
  <%= @data_policy.playground_id %>
</p>

<p>
  <b>Code:</b>
  <%= @data_policy.code %>
</p>

<p>
  <b>Name:</b>
  <%= @data_policy.name %>
</p>

<p>
  <b>Description:</b>
  <%= @data_policy.description %>
</p>

<p>
  <b>Filter:</b>
  <%= @data_policy.filter %>
</p>

<p>
  <b>Organisations list:</b>
  <%= @data_policy.organisations_list %>
</p>

<p>
  <b>Business rules list:</b>
  <%= @data_policy.business_rules_list %>
</p>

<p>
  <b>Status:</b>
  <%= @data_policy.status %>
</p>

<p>
  <b>Owner:</b>
  <%= @data_policy.owner %>
</p>

<p>
  <b>Active from:</b>
  <%= @data_policy.active_from %>
</p>

<p>
  <b>Active to:</b>
  <%= @data_policy.active_to %>
</p>

<p>
  <b>Scope:</b>
  <%= @data_policy.scope_id %>
</p>

<p>
  <b>Business process:</b>
  <%= @data_policy.business_process_id %>
</p>

<p>
  <b>Session number:</b>
  <%= @data_policy.session_number %>
</p>

<p>
  <b>Session name:</b>
  <%= @data_policy.session_name %>
</p>

<p>
  <b>Created by:</b>
  <%= @data_policy.created_by %>
</p>

<p>
  <b>Updated by:</b>
  <%= @data_policy.updated_by %>
</p>


<%= link_to 'Edit', edit_data_policy_path(@data_policy) %> |
<%= link_to 'Back', data_policies_path %>
