<% provide(:title, 'Sign in') %>
<% content_for :page_heading do %>
  Welcome to Data Quality Stairs
<% end %>

        <!-- User info -->
        <div class="row">
          <!-- Articles -->
          <div class="col-md-12 splash">
            <img src="assets/ODQ_Stairs.png" alt="Pragmatic & progressive">
          </div>
        </div>

<div class="row">
  <div class="col-md-2 col-md-offset-2">      
    <h2>Please sign in</h2>
  </div> 
</div>


    <%= form_for(:session, url: sessions_path) do |f| %>
    
<div class="row">
  <div class="col-md-1 col-md-offset-3">
      <%= f.label :login %>
  </div>    
  <div class="col-md-2">
    <%= f.text_field :login, :autofocus => true %>
  </div>
</div>   
<div class="row">
  <div class="col-md-1 col-md-offset-3">
      <%= f.label :password %>
  </div>    
  <div class="col-md-2">
      <%= f.password_field :password %>     
  </div>
</div>

<div class="row">
  <div class="col-md-1 col-md-offset-4">      
      <%= f.submit "Sign in", class: "btn btn-primary" %>
  </div>
</div>      
      
    <% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3"> 
    <p>New user? Please contact your administrator.</p>
  </div>
</div>


