<% provide(:title, 'Sign in') %>
<h1>Welcome to Open Data Quality Stairs</h1>

<h2>Please sign in</h2>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :login %>
      <%= f.text_field :login, :autofocus => true %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? Please contact your administrator.</p>
  </div>
</div>


