<%= form_for(@playground) do |f| %>
  <% if @playground.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playground.errors.count, "error") %> prohibited this playground from being saved:</h2>

      <ul>
      <% @playground.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <tr>
    <td>
  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
    </td>
    <td>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
    </td>
  </tr>
  <tr>
    <td>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 5%>
  </div>
    </td>
  </tr>
  <tr>
    <td>
  <div class="actions">
    <%= f.submit %>
  </div>
    </td>
  </tr>
<% end %>
</table>
