<% provide(:title, 'Managing playgrounds') %>
<% content_for :page_heading do %>
  <%= image_tag(index_audit_tag_for(@playground), :alt => "Quality hit") %> <%= t('Playground') %>: <%= @playground.name %>
<% end %>
<% content_for :breadcrums do %>
  <ul class="breadcrumbs">
    <li>> <%= @playground.name %> </li>
  </ul>
<% end %>

<%= render 'form' %>

<%= link_to t('Back'), @playground %>



