<% provide(:title, 'Managing playgrounds') %>

<h1>Playgrounds</h1>

<table class="table table-striped">
  <tr>
    <th>Hierarchy</th>
    <th>Code</th>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Created by</th>
    <th>Updated by</th>
  </tr>

<% @playgrounds.each do |business_flow| %>
  <tr>
    <td><%= link_to playground.hierarchy, playground %></td>
    <td><%= link_to playground.code, playground %></td>
    <td><%= playground.name %></td>
    <td><%= playground.description %></td>
    <td><%= playground.status.name %></td>
    <td><%= playground.created_by %></td>
    <td><%= playground.updated_by %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Playground', new_playground_path %>


