<%= form_for(@business_area) do |f| %>
  <% if @business_area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business_area.errors.count, "error") %> prohibited this business_area from being saved:</h2>

      <ul>
      <% @business_area.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :playground_id %>
    <%= @business_area.playground_id %><br />
  </div>
  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
