<% provide(:title, 'Managing business areas') %>

<h1>Business areas</h1>

<%= will_paginate %>

<table class="table table-striped">
  <tr>
    <th>Hierarchy</th>
    <th>Code</th>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Audit</th>
    <th>Updated by</th>
    <th>Updated at</th>
  </tr>

<% @business_areas.each do |business_area| %>
  <tr>
    <td class="col_narrow"><%= link_to business_area.hierarchy, business_area %></td>
    <td class="col_narrow"><%= link_to business_area.code, business_area %></td>
    <td><%= business_area.name %></td>
    <td class="col_medium"><%= business_area.description %></td>
    <td><%= business_area.status.name %></td>
    <td><%= image_tag(index_audit_tag_for(business_area), :alt => "Quality hit") %></td>
    <td><%= business_area.updated_by %></td>
    <td><%= business_area.updated_at %></td>
  </tr>
<% end %>
</table>

<%= will_paginate %>

<br />

<%= link_to 'New Business area', new_business_area_path %>

