<% provide(:title, (t('Managing') + ' ' + t('BAs'))) %>

<%= will_paginate %>

<%= render partial: "shared/simple_search", locals: {this_path: business_areas_path} %>

<table class="table table-striped">
  <tr>
    <th><%= t('Hierarchy') %></th>
    <th><%= t('Code') %></th>
    <th><%= t('Name') %></th>
    <th><%= t('Description') %></th>
    <th><%= t('Status') %></th>
    <th><%= t('Audit') %></th>
    <th><%= t('UpdatedBy') %></th>
    <th><%= t('UpdatedAt') %></th>
  </tr>

<% @business_areas.each do |business_area| %>
  <tr>
    <td class="col_narrow"><%= link_to business_area.hierarchy, business_area %></td>
    <td class="col_narrow"><%= link_to business_area.code, business_area %></td>
    <td><%= business_area.name %></td>
    <td class="col_medium"><%= business_area.description %></td>
    <td><%= business_area.status.name %></td>
    <td><%= image_tag(index_audit_tag_for(business_area), :alt => "Quality hit") %></td>
    <td><%= business_area.updated_by %></td>
    <td><%= business_area.updated_at %></td>
  </tr>
<% end %>
</table>

<%= will_paginate %>

<br />

<%= link_to 'New Business area', new_business_area_path %>

