<% provide(:title, (t('ExportBHs'))) %>

<%= form_tag(unload_business_hierarchies_path) do %>
  
  <div class="row">
    <div class="col-md-1 text-right"> <%= t('Description') %>:
    </div>
    <div class="col-md-6"><pre><%= t('ExportUsage')%></pre>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="field">
        <%= t('Playground') %>
        <%= select_tag(:playground_id, options_for_select(list_of_playgrounds.map {|pg| [pg.name, pg.id]})) %>
      </div>
    </div>
  </div>
      
      
      <div class="buttons"><%= submit_tag ('Export')%></div>

<% end %>

