<% provide(:title, (t('ExportBHs'))) %>

<%= form_tag %>
  
  <div class="row">
    <div class="col-md-1 text-right"> <%= t('Description') %>:
    </div>
    <div class="col-md-6"><pre><%= t('ExportUsage')%></pre>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="field">
        <%= t('Playground') %>
        <%= collection_select :playground_id, @playgrounds_list, :id, :name %>
      </div>
    </div>
  </div>
      
      
      <div class="buttons"><%= submit ('Export')%></div>



