<p id="notice"><%= notice %></p>

<h1>Business Hierarchies export report</h1>


<%= button_to 'Export Business Hierarchies', export_business_hierarchies_path, class: "buttons" %>

<table>
  <thead>
    <tr>
      <th width="200px">Object</th>
      <th width="100px">Tries</th>
      <th width="100px">Inserts</th>
    </tr>
  </thead>

  <tbody>
    <% @counter.each do |monitor| %>
      <tr>
        <td><%= monitor[:object] %></td>
        <td><%= monitor[:tries] %></td>
        <td><%= monitor[:inserts] %></td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td align="left">Total count: </td>
      <td align="left"><b><%= @lignes %></b></td>
    </tr>
  </tbody>
</table>
<p>Check audit trail for details</p>

<br>



