<% provide(:title, (t('Managing') + ' ' + t('Values'))) %>

<% content_for :page_heading do %>
    <%= t('ListOf' + ' ' + t('Values') %>
<% end %>

<table  class="table table-striped">
  <thead>
    <tr>
      <th><%= t('Id') %></th>
      <th><%= t('Name') %></th>
      <th><%= t('Description') %></th>
      <th><%= t('Code') %></th>
      <th><%= t('Value') %></th>
      <th><%= t('CreatedBy') %></th>
      <th><%= t('UpdatedBy') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @values.each do |value| %>
      <tr>
        <td><%= value.id %></td>
        <td><%= value.name %></td>
        <td><%= value.description %></td>
        <td><%= value.value_code %></td>
        <td><%= value.value_caption %></td>
        <td><%= value.created_by %></td>
        <td><%= value.updated_by %></td>
        <td><%= link_to t('Show'), value %></td>
        <td><%= link_to t('Edit'), edit_value_path(value) %></td>
        <td><%= link_to t('Destroy'), value, method: :delete, data: { confirm: 'Value will be deleted. Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


