<%= form_for [@business_area, @business_object] do |f| %>
  <% if @business_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business_object.errors.count, "error") %> prohibited this business_object from being saved:</h2>

      <ul>
      <% @business_object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Definition</a></li>
      <li><a href="#tab2" data-toggle="tab">Implementation</a></li>
    </ul>
    <div class="tab-content">

    <div class="tab-pane active" id="tab1">
<!-- Tab content for Definition -->

      <div class="row">
        <div class="col-md-2 text-right">Name:
        </div>
        <div class="col-md-10 field"><%= f.text_field :name, :class => "col-md-8" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 text-right">Code:
        </div>
        <div class="col-md-2 field"><%= f.text_field :code %>
        </div>
        <div class="col-md-2 text-right">Status:
        </div>
        <div class="col-md-2 field"><%= f.collection_select :status_id, @statuses_list, :id, :name %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 text-right">Description:
        </div>
        <div class="col-md-10 field"><%= f.text_area :description, :rows => 5, :class => "col-md-8" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 text-right">Hierarchy:
        </div>
        <div class="col-md-2 field"><%= f.text_field :hierarchy, :readonly => true  %>
        </div>
      </div>

<!-- Tab content -->
    </div>

    <div class="tab-pane" id="tab2">
<!-- Tab content for Implementation -->

      <div class="row">
        <div class="col-md-2 text-right">Technology:
        </div>
        <div class="col-md-2 field"><%= f.text_field :db_technology%>
        </div>
        <div class="col-md-2 text-right">Connection:
        </div>
        <div class="col-md-2 field"><%= f.text_field :db_connection%>
        </div>
        <div class="col-md-2 text-right">Owner schema:
        </div>
        <div class="col-md-2 field"><%= f.text_field :db_owner_schema%>
        </div>
      </div>
       <div class="row">
        <div class="col-md-2 text-right">Structure name:
        </div>
        <div class="col-md-2 field"><%= f.text_field :structure_name%>
        </div>
        <div class="col-md-2 text-right">Key columns:
        </div>
        <div class="col-md-2 field"><%= f.text_area :key_columns%>
        </div>
        <div class="col-md-2 text-right">Published columns:
        </div>
        <div class="col-md-2 field"><%= f.text_area :published_columns%>
        </div>
      </div>


<!-- Tab content -->
    </div>

    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
