<%= form_for [@business_area, @business_object] do |f| %>

  <% if @business_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business_object.errors.count, "error") %> prohibited this business_object from being saved:</h2>

      <ul>
      <% @business_object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab"> <%= t('Definition')%></a></li>
    </ul>
    <div class="tab-content">

      <div class="tab-pane active" id="tab1">
  <!-- Tab content for Definition -->
  
        <%= render partial: "shared/object_definition_form", locals: {f: f} %>
   
  <!-- Tab content -->
      </div>
    </div>
  </div>
  
  <!-- Loop with columns details to update -->
  
    <table class="table table-striped table-condensed">
      <tr align="left">
        <th></th>
        <th><%= t('Name') %></th>
        <th><%= t('Description') %></th>
        <th><%= t('Type') %></th>
        <th><%= t('Size') %></th>
        <th><%= t('Precision') %> </th>
        <th><%= t('KeyCols') %></th>
        <th><%= t('PubCols') %></th>
      </tr>
      
    <%= f.nested_fields_for :skills, wrapper_tag: 'tr'  do |column| %>
    
      <tr align="left">
        <td><%= column.remove_nested_fields_link %></td>
        <td><%= column.text_field :name %></td>
        <td><%= column.text_field :description %></td> 
        <td><%= column.collection_select :skill_type_id, @data_types_list, :id, :name %></td> 
        <td><%= column.text_field :skill_size %></td>
        <td><%= column.text_field :skill_precision %></td>
        <td><%= column.check_box :is_key %></td>
        <td><%= column.check_box :is_published %></td>
      </tr>
      
    <% end %>
    
    </table>
    
    <br/>
    
    <%= f.add_nested_fields_link :skills %>
    
    <br/>
    <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
