<% provide(:title, 'Managing business objects') %>

<h1>Business objects</h1>

<table class="table table-striped">
  <tr>
    <th>Hierarchy</th>
    <th>Code</th>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Created by</th>
    <th>Updated by</th>
  </tr>

<% @business_objects.each do |business_object| %>
  <tr>
    <td><%= link_to business_object.hierarchy, business_object %></td>
    <td><%= link_to business_object.code, business_object %></td>
    <td><%= business_object.name %></td>
    <td><%= business_object.description %></td>
    <td><%= business_object.status.name %></td>
    <td><%= business_object.created_by %></td>
    <td><%= business_object.updated_by %></td>
  </tr>
<% end %>
</table>

<br />

