<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Column type</Data></Cell>
        <Cell><Data ss:Type="String">Size</Data></Cell>
        <Cell><Data ss:Type="String">Precision</Data></Cell>
        <Cell><Data ss:Type="String">Is key</Data></Cell>
        <Cell><Data ss:Type="String">Is published</Data></Cell>
        <Cell><Data ss:Type="String">Description</Data></Cell>
      </Row>
    <% @business_object.skills.each do |column| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= column.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= column.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= column.skill_type.name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= column.skill_size %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= column.skill_precision %></Data></Cell>
        <Cell><Data ss:Type="String"><%= column.is_key %></Data></Cell>
        <Cell><Data ss:Type="String"><%= column.is_published %></Data></Cell>
        <Cell><Data ss:Type="String"><%= column.description %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

