<% provide(:title, 'Managing business objects') %>

  <h1>Business object: <%= @business_object.name %></h1>
     
  <ul class="mid_menu">
    <li><%= link_to 'Edit', edit_business_object_path(@business_object) %> |</li>
    <li><%= link_to 'Back to list', business_objects_path %> |</li>
    <li><%= link_to 'Destroy', @business_object, confirm: 'Are you sure?', method: :delete %></li>
  </ul>

<!-- <p id="notice"><%= notice %></p> -->

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Definition</a></li>
      <li><a href="#tab2" data-toggle="tab">Implementation</a></li>
      <li><a href="#tab3" data-toggle="tab">Ownership</a></li>
    </ul>
    <div class="tab-content">

    <div class="tab-pane active" id="tab1">
<!-- Tab content for Definition -->

      <div class="row">
        <div class="span2 text-right">Name:
        </div>
        <div class="span6"><%= @business_object.name%>
        </div>
        <div class="span1 text-right">Code:
        </div>
        <div class="span1"><%= @business_object.code%>
        </div>
        <div class="span1 text-right">Status:
        </div>
        <div class="span1"><%= @business_object.status.name%>
        </div>
      </div>

      <div class="row">
        <div class="span2 text-right">Description:
        </div>
        <div class="span6"><%= @business_object.description%>
        </div>
      </div>

      <div class="row">
        <div class="span2 text-right">Hierarchy:
        </div>
        <div class="span2"><%= @business_object.hierarchy%>
        </div>
      </div>


<!-- Tab content -->
    </div>    


    <div class="tab-pane" id="tab2">
<!-- Tab content for Implementation -->

      <div class="row">
        <div class="span2 text-right">Technology:
        </div>
        <div class="span2"><%= @business_object.db_technology%>
        </div>
        <div class="span2 text-right">Connection:
        </div>
        <div class="span2"><%= @business_object.db_connection%>
        </div>
        <div class="span2 text-right">Owner schema:
        </div>
        <div class="span2"><%= @business_object.db_owner_schema%>
        </div>
      </div>
       <div class="row">
        <div class="span2 text-right">Structure name:
        </div>
        <div class="span2"><%= @business_object.structure_name%>
        </div>
        <div class="span2 text-right">Key columns:
        </div>
        <div class="span2"><%= @business_object.key_columns%>
        </div>
        <div class="span2 text-right">Published columns:
        </div>
        <div class="span2"><%= @business_object.published_columns%>
        </div>
      </div>
<!-- Tab content -->
    </div>

    <div class="tab-pane" id="tab3">
<!-- Tab content for Ownership -->

      <div class="row">
        <div class="span2 text-right">Unique id:
        </div>
        <div class="span2"><%= @business_object.id%>
        </div>
        <div class="span2 text-right">Created by:
        </div>
        <div class="span2"><%= @business_object.created_by%>
        </div>
      </div>
      <div class="row">
        <div class="span2 text-right">Playground id:
        </div>
        <div class="span2"><%= @business_object.playground_id%>
        </div>
        <div class="span2 text-right">Created at:
        </div>
        <div class="span2"><%= @business_object.created_at%>
        </div>
      </div>
      <div class="row">
        <div class="span2 text-right">Owner:
        </div>
        <div class="span2"><%= @business_object.owner.login%>
        </div>
        <div class="span2 text-right">Updated by:
        </div>
        <div class="span2"><%= @business_object.updated_by%>
        </div>
      </div>
      <div class="row">
        <div class="span2 text-right">Parent:
        </div>
        <div class="span2"><%= link_to @business_object.business_area.name, @business_object.business_area%>
        </div>
        <div class="span2 text-right">updated at:
        </div>
        <div class="span2"><%= @business_object.updated_at%>
        </div>
      </div>

<!-- Tab content -->
    </div>

    
    </div>
  </div>





