<%= form_for [@parent_org, @organisation] do |f| %>
  <% if @organisation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organisation.errors.count, "error") %> prohibited this organisation from being saved:</h2>

      <ul>
      <% @organisation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: "shared/object_definition_form", locals: {f: f} %>
      
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
