<% provide(:title, 'Managing organisations') %>

<h1>Organisations</h1>

<%= will_paginate %>

<table class="table table-striped">
  <tr>
    <th>Hierarchy</th>
    <th>Code</th>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Updated by</th>
    <th>Updated at</th>
  </tr>

<% @organisations.each do |organisation| %>
  <tr>
    <td class="col_narrow"><%= link_to organisation.hierarchy, organisation %></td>
    <td class="col_narrow"><%= link_to organisation.code, organisation %></td>
    <td><%= organisation.name %></td>
    <td class="col_medium"><%= organisation.description %></td>
    <td><%= organisation.status.name %></td>
    <td><%= organisation.updated_by %></td>
    <td><%= organisation.updated_at %></td>
  </tr>
<% end %>
</table>

<%= will_paginate %>

<br />


