<% provide(:title, (t('ManagingMaps'))) %>

<% content_for :page_heading do %>
    <%= t('MappingsList') %>
<% end %> 

<%= render partial: "shared/simple_export", locals: {this_path: mappings_lists_path, import_path: new_mappings_lists_import_path, import_message: "ImportMaps" }} %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('Name') %></th>
      <th><%= t('Description') %></th>
      <th><%= t('Code') %></th>
      <th><%= t('Owner') %></th>
      <th><%= t('Source') %></th>
      <th><%= t('Target') %></th>
    </tr>
  </thead>

  <tbody>
    <% @mappings_list.each do |mappings_list| %>
      <tr>
        <td><%= link_to mappings_list.name, mappings_list %></td>
        <td><%= mappings_list.description %></td>
        <td><%= mappings_list.code %></td>
        <td><%= mappings_list.owner.login %></td>
        <td><%= link_to mappings_list.source_list.name, mappings_list.source_list%>
        <td><%= link_to mappings_list.target_list.name, mappings_list.target_list%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('NewF') + ' ' + t('ListOf') + ' ' +  t('Mapping'), new_mappings_list_path %>
