<% provide(:title, (t('Managing') + ' ' + t('Notify'))) %>

<%= will_paginate %>

<table  class="table table-striped">
  <thead>
    <tr>
      <th><%= t('Name') %></th>
      <th><%= t('Severity') %></th>
      <th><%= t('Scope') %></th>
      <th><%= t('BO') %></th>
      <th><%= t('OpenedAt') %></th>
      <th><%= t('DueAt') %></th>
      <th><%= t('ClosedAt') %></th>
      <th><%= t('Responsible') %></th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td class="col_narrow"><%= link_to notification.name, notification %></td>
        <td class="col_narrow"><%= notification.severity.name %></td>
        <td class="col_narrow"><%= notification.scope.name %></td>
        <td class="col_narrow"><%= notification.business_object.name %></td>
        <td class="col_narrow"><%= notification.created_at %></td>
        <td class="col_narrow"><%= notification.expected_at %></td>
        <td class="col_narrow"><%= notification.closed_at %></td>
        <td class="col_narrow"><%= notification.responsible.login %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>

<br>


