<%= form_for [@business_rule, @breach] do |f| %>
  <% if @breach.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@breach.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @breach.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="row">
        <div class="col-md-2 text-right">Error message:
        </div>
        <div class="col-md-6 field"><pre><%= @breach.error_message %></pre>
        </div>
      </div>

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Breach</a></li>
      <li><a href="#tab2" data-toggle="tab">Business Rule</a></li>
      <li><a href="#tab3" data-toggle="tab">Other Business Rules</a></li>    
<!--      <li><a href="#tab4" data-toggle="tab">Scopes</a></li> -->
      <li><a href="#tab5" data-toggle="tab">History list</a></li>
      <li><a href="#tab6" data-toggle="tab">Ownership</a></li>    
    </ul>

    <div class="tab-content">

    <div class="tab-pane active" id="tab1">
<!-- Tab content for Definition -->
      <h4> Breached <%= @breach.breach_type.name %> </h4>
      <div class="row">
        <div class="col-md-2 text-right">Status:
        </div>
        <div class="col-md-2"><%= f.collection_select :breach_status_id, @breach_statuses_list, :id, :name  %>
        </div>
        <div class="col-md-2 text-right">Assigned to:
        </div>
        <div class="col-md-2"><%= f.collection_select :responsible_id, @responsibles_list, :id, :login  %>
        </div>
        <div class="col-md-2 text-right">White list flag:
        </div>
        <div class="col-md-2 "><%= f.check_box :is_whitelisted %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 text-right">Application:
        </div>
        <div class="col-md-2 field"><%= @breach.software.name %>
        </div>
        <div class="col-md-2 text-right">Business object:
        </div>
        <div class="col-md-2 field"><%= @breach.business_object.name %>
        </div>
      </div>
 
    <hr/>
    
      <div class="row">
        <div class="col-md-2 text-right">Primary key:
        </div>
        <div class="col-md-3">
          <table class="table table-striped table-condensed">
            <tr>
              <% @breach.business_object.key_columns.split(";").each do |column| %>
                <td> <%= column %> </td>
              <% end %>
            </tr>
            <tr>
              <% @breach.pk_values.split(";").each do |column| %>
                <td> <%= column %> </td>
              <% end %>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">      
        <div class="col-md-2 text-right">Published values:
        </div>
        <div class="col-md-3">
          <table class="table table-striped table-condensed">
            <tr>
              <% @breach.business_object.published_columns.split(";").each do |column| %>
                <td> <%= column %> </td>
              <% end %>
            </tr>
            <tr>
              <% @breach.current_values.split(";").each do |column| %>
                <td> <%= column %> </td>
              <% end %>
            </tr>
          </table>
        </div>
      </div>

      <h4> Dimensions </h4>
      <hr />

      <div class="row">
        <div class="col-md-2 text-right">Organisation:
        </div>
        <div class="col-md-2 field"><%= @breach.organisation.name %>
        </div>

        <div class="col-md-2 text-right">Territory:
        </div>
        <div class="col-md-2 field"><%= @breach.territory.name %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 text-right">Period:
        </div>
        <div class="col-md-2 field"><%= @breach.period_id %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 text-right">Updated by:
        </div>
        <div class="col-md-2 field"><%= @breach.record_updated_by %>
        </div>

        <div class="col-md-2 text-right">Updated at:
        </div>
        <div class="col-md-2 field"><%= @breach.record_updated_at %>
        </div>
      </div>

<!-- Tab content -->
    </div>

    <div class="tab-pane" id="tab2">
<!-- Tab content for Business Rule -->

      <h4> Business Rule summary </h4>
      <hr />
      
      <div class="row">
        <div class="col-md-2 text-right">Name:
        </div>
        <div class="col-md-10"><%= @business_rule.name%>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 text-right">Code:
        </div>
        <div class="col-md-2"><%= @business_rule.code%>
        </div>
         <div class="col-md-2 text-right"> Rule type:
         </div>
         <div class="col-md-2"><%= @business_rule.rule_type.name%>
         </div>
      </div>

      <div class="row">
        <div class="col-md-2 text-right">Description:
        </div>
        <div class="col-md-6"><pre><%= @business_rule.description %></pre>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 text-right">Business value:
        </div>
        <div class="col-md-6"><pre><%= @business_rule.business_value %></pre>
        </div>
      </div>

        <div class="row">
          <div class="col-md-2 text-right">Object:
          </div>
          <div class="col-md-2"><%= link_to @business_rule.business_object.name, @business_rule.business_object %>
          </div>
          <div class="col-md-2 text-right">Business process:
          </div>
          <div class="col-md-2"><%= @business_rule.business_process.name%>
          </div>
        </div>
      
        <div class="row">
          <div class="col-md-2 text-right">Check description:
          </div>
          <div class="col-md-6"><pre><%= @business_rule.check_description %></pre>
          </div>
        </div>


<!-- Tab content -->
    </div>

    <div class="tab-pane" id="tab3">
<!-- Tab content for Other Business Rules -->

      <h4> Other Business Rules applying to this breach </h4>
      <hr />


<!-- Tab content -->
    </div>

    <div class="tab-pane" id="tab4">
<!-- Tab content for Scopes -->

      <h4> Scopes providing this breach </h4>
      <hr />


<!-- Tab content -->
    </div>

    <div class="tab-pane" id="tab5">
<!-- Tab content for History -->

      <h4> History of change requests </h4>
      <hr />

<!-- Tab content -->
    </div>


    <div class="tab-pane" id="tab6">
        <%= render partial: "shared/object_ownership", locals: {this_object: @breach} %>
    </div>



  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
