<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
      <div class="col-md-2 text-right">Login:
      </div>
      <div class="col-md-1 field"><%= f.text_field :login %>
      </div>
      <div class="col-md-2 text-right">Password:
      </div>
      <div class="col-md-1 field"><%= f.text_field :password %>
      </div>
      <div class="col-md-2 text-right">Password confirmation:
      </div>
      <div class="col-md-1 field"><%= f.text_field :password_confirmation  %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 text-right">First name:
      </div>
      <div class="col-md-1 field"><%= f.text_field :first_name %>
      </div>
      <div class="col-md-2 text-right">Last name:
      </div>
      <div class="col-md-1 field"><%= f.text_field :last_name  %>
      </div>
      <div class="col-md-2 text-right">Directory id:
      </div>
      <div class="col-md-1 field"><%= f.text_field :directory_id %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 text-right">Description:
      </div>
      <div class="col-md-8 field"><%= f.text_area :description, :rows => 5, :class => "col-md-7" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 text-right">Is administator:
      </div>
      <div class="col-md-1"> <%= f.check_box :is_admin %>
      </div>
      <div class="col-md-2 text-right">Email:
      </div>
      <div class="col-md-1 field"><%= f.text_field :email %>
      </div>
      <div class="col-md-2 text-right">Language:
      </div>
      <div class="col-md-1 field"><%= f.text_field :language %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 text-right">Validity period:
      </div>
      <div class="col-md-4"> 
      <div class="input-daterange" data-behaviour="datepicker" id="datepicker" data-date-format="dd/mm/yyyy">
   <%= f.text_field :active_from, :class => "input-small" %>  
   <col-md- class="add-on">to</col-md->
   <%= f.text_field :active_to, :class => "input-small" %> 
</div>
<script type="text/javascript">
  $('[data-behaviour~=datepicker]').datepicker();
</script>
      </div>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
