<p id="notice"><%= notice %></p>

<p>
  <b>Playground:</b>
  <%= @time_scale.playground_id %>
</p>

<p>
  <b>Day number:</b>
  <%= @time_scale.day_number %>
</p>

<p>
  <b>Day of week:</b>
  <%= @time_scale.day_of_week %>
</p>

<p>
  <b>Day of month:</b>
  <%= @time_scale.day_of_month %>
</p>

<p>
  <b>Day of year:</b>
  <%= @time_scale.day_of_year %>
</p>

<p>
  <b>Week number:</b>
  <%= @time_scale.week_number %>
</p>

<p>
  <b>Week of month:</b>
  <%= @time_scale.week_of_month %>
</p>

<p>
  <b>Week of year:</b>
  <%= @time_scale.week_of_year %>
</p>

<p>
  <b>Month number:</b>
  <%= @time_scale.month_number %>
</p>

<p>
  <b>Month of year:</b>
  <%= @time_scale.month_of_year %>
</p>

<p>
  <b>Quarter number:</b>
  <%= @time_scale.quarter_number %>
</p>

<p>
  <b>Quarter:</b>
  <%= @time_scale.quarter %>
</p>

<p>
  <b>Semester number:</b>
  <%= @time_scale.semester_number %>
</p>

<p>
  <b>Semester:</b>
  <%= @time_scale.semester %>
</p>

<p>
  <b>Year number:</b>
  <%= @time_scale.year_number %>
</p>

<p>
  <b>Year:</b>
  <%= @time_scale.year %>
</p>

<p>
  <b>Session number:</b>
  <%= @time_scale.session_number %>
</p>

<p>
  <b>Session name:</b>
  <%= @time_scale.session_name %>
</p>

<p>
  <b>Created by:</b>
  <%= @time_scale.created_by %>
</p>

<p>
  <b>Updated by:</b>
  <%= @time_scale.updated_by %>
</p>


<%= link_to 'Edit', edit_time_scale_path(@time_scale) %> |
<%= link_to 'Back', time_scales_path %>
