<!-- Tab content for Definition -->

<table class="table table-striped table-condensed">
  <tr align="left">
    <th></th>
    <th><%= t('Code') %></th>
    <th><%= t('Name') %></th>
    <th><%= t('Description') %></th>
    <th><%= t('UpdatedBy') %></th>
    <th><%= t('UpdatedAt') %></th>
  </tr>
  
  <% this_child_index.order("code ASC").each do |child_object| %>
  <tr align="left">
    <td><%= image_tag(index_audit_tag_for(child_object), :alt => "Quality hit") %></td>
    <td valign="top"> <%=link_to child_object.code, child_object%> </td>
    <td valign="top"> <%=child_object.name%> </td>
    <td class="col_wide"> <%=child_object.description%> </td>
    <td valign="top"> <%=child_object.updated_by%> </td>
    <td valign="top"> <%=child_object.updated_at%> </td>
  </tr>
  <% end%>
</table>


<!-- End of tab content -->
