<!-- Tab content for Definition -->

      <div class=row>
        <div class="col-md-2 text-right"> <%= t('Code') %>:
        </div>
        <div class="col-md-2"><%= this_object.code%>
        </div>        
        <div class="col-md-4 text-right"> <%= t('Status') %>:
        </div>
        <div class="col-md-1"><%= this_object.status.name%>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-2 text-right"> <%= t('Name') %>:
        </div>
        <div class="col-md-5"><%= this_object.name%>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 text-right"> <%= t('Description') %>:
        </div>
        <div class="col-md-6"><pre><%= this_object.description%></pre>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 text-right"> <%= t('Hierarchy') %>:
        </div>
        <div class="col-md-2"><%= this_object.hierarchy%>
        </div>
      </div>

<!-- End of tab content -->
