<!-- Tab content for Definition -->

      <div class="row">
        <div class="span2 text-right">Name:
        </div>
        <div class="span6"><%= this_object.name%>
        </div>
        <div class="span1 text-right">Code:
        </div>
        <div class="span1"><%= this_object.code%>
        </div>
        <div class="span1 text-right">Status:
        </div>
        <div class="span1"><%= this_object.status.name%>
        </div>
      </div>

      <div class="row">
        <div class="span2 text-right">Description:
        </div>
        <div class="span6"><pre><%= this_object.description%></pre>
        </div>
      </div>

      <div class="row">
        <div class="span2 text-right">Hierarchy:
        </div>
        <div class="span2"><%= this_object.hierarchy%>
        </div>
      </div>

      <div class="row">
        <div class="span2 text-right">PCF index:
        </div>
        <div class="span2"><%= this_object.PCF_index%>
        </div>
        <div class="span2 text-right">PCF reference:
        </div>
        <div class="span2"><%= this_object.PCF_reference%>
        </div>
      </div>


<!-- End of tab content -->
