  <div class="row">
    <div class="col-md-1 text-right"> <%= t('Description') %>:
    </div>
    <div class="col-md-6"><pre><%= t('ImportUsage')%></pre>
    </div>
  </div>

    <div class="row">
      <div class="col-md-10 text-right"> <%= form_for [this_import] do |f| %>
        <% if this_import.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(this_import.errors.count, "error") %> prohibited this import from completing:</h2>
            <ul>
            <% this_import.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">   
        <div class="field">
          <%= f.file_field :file %>
        </div>
        <div class="buttons"><%= f.submit "Import" %></div>
      </div>
    </div>
    <% end %>