<!-- Tab content for Definition -->

      <div class="row">
        <div class="col-md-2 text-right">Name:
        </div>
        <div class="col-md-6"><%= this_object.name%>
        </div>
        <div class="col-md-1 text-right">Code:
        </div>
        <div class="col-md-1"><%= this_object.code%>
        </div>
        <div class="col-md-1 text-right">Status:
        </div>
        <div class="col-md-1"><%= this_object.status.name%>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 text-right">Description:
        </div>
        <div class="col-md-6"><pre><%= this_object.description%></pre>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 text-right">Hierarchy:
        </div>
        <div class="col-md-2"><%= this_object.hierarchy%>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 text-right">PCF index:
        </div>
        <div class="col-md-2"><%= this_object.pcf_index%>
        </div>
        <div class="col-md-2 text-right">PCF reference:
        </div>
        <div class="col-md-2"><%= this_object.pcf_reference%>
        </div>
      </div>


<!-- End of tab content -->
