<!-- Tab content for Ownership -->

      <div class="row">
        <div class="span2 text-right">Unique id:
        </div>
        <div class="span2"><%= this_object.id%>
        </div>
        <div class="span2 text-right">Created by:
        </div>
        <div class="span2"><%= this_object.created_by%>
        </div>
      </div>
      <div class="row">
        <div class="span2 text-right">Playground id:
        </div>
        <div class="span2"><%= this_object.playground_id%>
        </div>
        <div class="span2 text-right">Created at:
        </div>
        <div class="span2"><%= this_object.created_at%>
        </div>
      </div>
      <div class="row">
        <div class="span2 text-right">Owner:
        </div>
        <div class="span2"><%= this_object.owner.login%>
        </div>
        <div class="span2 text-right">Updated by:
        </div>
        <div class="span2"><%= this_object.updated_by%>
        </div>
      </div>
      <div class="row">
        <div class="span2 text-right">Parent:
        </div>
        <div class="span2"><%= # link_to this_object.parent.name, this_object.parent
        %>
        </div>
        <div class="span2 text-right">updated at:
        </div>
        <div class="span2"><%= this_object.updated_at%>
        </div>
      </div>

<!-- Tab content -->
