<div class="row">
  <div class="col-md-4">
    <h4> <%= t('SearchBox') %></h4>
      <%= form_tag(this_path, :method => 'get') do %>
        <p>
          <%= text_field_tag :criteria, params[:criteria] %>
          <%= submit_tag t('SearchButton'), :name => nil %>
        </p>
      <% end %>
  </div>      
  <div class="col-md-8">
    <nav class="top_menu">
      <ul>
        <li>Export: <%= link_to "CSV", url_for(format: 'csv') %> | </li>
        <li><%= link_to "Excel", url_for(format: 'xls') %>  </li>
      </ul>
    </nav>
  </div>
</div>


