<% provide(:title, (t('ManagingLSs'))) %>
<% content_for :page_heading do %>
  <%= image_tag(index_audit_tag_for(@landscape), :alt => "Quality hit") %> Landscape: <%= @landscape.name %>
<% end %>
<% content_for :breadcrums do %>
  <ul class="breadcrumbs">
    <li>> <%= link_to @landscape.playground.name, @landscape.playground %> > </li>
    <li><%= @landscape.name %> </li>
  </ul>
<% end %>

<%= render 'form' %>

<%= link_to t('Back'), @landscape %>

