<% provide(:title, 'Managing landscapes') %>

<h1>Landscapes</h1>

<table class="table table-striped">
  <tr>
    <th>Hierarchy</th>
    <th>Code</th>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Created by</th>
    <th>Updated by</th>
  </tr>

<% @landscapes.each do |landscape| %>
  <tr>
    <td><%= link_to landscape.hierarchy, landscape %></td>
    <td><%= link_to landscape.code, landscape %></td>
    <td><%= landscape.name %></td>
    <td><%= landscape.description %></td>
    <td><%= landscape.status.name %></td>
    <td><%= landscape.created_by %></td>
    <td><%= landscape.updated_by %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Landscape', new_landscape_path %>

