<%= form_for [@business_area, @business_flow] do |f| %>
  <% if @business_flow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business_flow.errors.count, "error") %> prohibited this business_flow from being saved:</h2>

      <ul>
      <% @business_flow.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <%= render partial: "shared/object_definition_form", locals: {f: f} %>
 
      <div class="row">
        <div class="col-md-2 text-right"> <%= t('PCFindex')%>:
        </div>
        <div class="col-md-2 field"><%= f.text_field :pcf_index %>
        </div>
        <div class="col-md-2 text-right"> <%= t('PCFreference')%>:
        </div>
        <div class="col-md-2 field"><%= f.text_field :pcf_reference %>
        </div>
      </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
