<% provide(:title, 'Managing business flows') %>

<h1>Business flows</h1>

<%= will_paginate %>

<table class="table table-striped">
  <tr>
    <th>Hierarchy</th>
    <th>Code</th>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Updated by</th>
    <th>Updated at</th>
  </tr>

<% @business_flows.each do |business_flow| %>
  <tr>
    <td class="col_narrow"><%= link_to business_flow.hierarchy, business_flow %></td>
    <td class="col_narrow"><%= link_to business_flow.code, business_flow %></td>
    <td><%= business_flow.name %></td>
    <td class="col_medium"><%= business_flow.description %></td>
    <td><%= business_flow.status.name %></td>
    <td><%= business_flow.updated_by %></td>
    <td><%= business_flow.updated_at %></td>
  </tr>
<% end %>
</table>

<%= will_paginate %>

<br />


