<% provide(:title, 'Business Flows index') %>

<% if signed_in? %>
<h1>Business flows</h1>

<table class="table table-striped">
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Description</th>
    <th>Created by</th>
    <th>Created at</th>
    <th>Business area</th>
  </tr>

<% @business_flows.each do |business_flow| %>
  <tr>
    <td><%= link_to business_flow.code, business_flow %></td>
    <td><%= business_flow.name %></td>
    <td><%= business_flow.description %></td>
    <td><%= business_flow.created_by %></td>
    <td><%= business_flow.created_at %></td>
    <td><%= business_flow.business_area_id %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Business flow', new_business_flow_path %>

<% else %>

You must log in to access this page. 
<%= link_to ' Click here', root_path %>

<% end %>
