<% provide(:title, (t('ManagingBFs'))) %>

<% content_for :page_heading do %>
  <%= image_tag(index_audit_tag_for(@business_flow), :alt => "Quality hit") %> <%= t('BF') %>: <%= @business_flow.name %>
<% end %>
<% content_for :breadcrums do %>
  <ul class="breadcrumbs">
    <li>> <%= link_to @business_flow.business_area.name, @business_flow.business_area %> > </li>
    <li><%= @business_flow.name %> </li>
  </ul>
<% end %>
      
  <ul class="mid_menu">
    <li><%= link_to t('Edit'), edit_business_flow_path(@business_flow) %> |</li>
    <li><%= link_to t('Up'), @business_flow.business_area %> |</li>
    <li><%= link_to t('Destroy'), @business_flow, confirm: t('Sure'), method: :delete %></li>
  </ul>

<!-- Setup the tabs -->

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li><a href="#definition" data-toggle="tab"> <%= t('Definition') %> </a></li>
      <li class="active"><a href="#measures" data-toggle="tab"> <%= t('Measures') %> </a></li>
      <li><a href="#ownership" data-toggle="tab"> <%= t('Ownership') %> </a></li>
    </ul>
    <div class="tab-content">

      <div class="tab-pane" id="definition"> 
        <%= render partial: "shared/object_definition", locals: {this_object: @business_flow} %>
        <div class="row">
          <div class="col-md-2 text-right"> <%= t('PCFindex') %>:
          </div>
          <div class="col-md-2"><%= @business_flow.pcf_index%>
          </div>
          <div class="col-md-2 text-right"> <%= t('PCFreference') %>:
          </div>
          <div class="col-md-2"><%= @business_flow.pcf_reference%>
          </div>
        </div>
      </div>
    
      <div class="tab-pane active" id="measures">
        <%= render partial: "shared/render_charts", locals: {this_object: @business_flow} %>
      </div>    

      <div class="tab-pane" id="ownership">
        <%= render partial: "shared/object_ownership", locals: {this_object: @business_flow} %>
      </div>
    
    </div>
  </div>

<table width=100%>    
  <tr><td><hr /></td></tr>
  <tr align="left">
    <th> <%= t('BPs') %> </th>
    <th></th>
  </tr>
  <tr>
    <td>
      <%= render partial: "shared/child_object_index", locals: {this_child_index: @business_flow.business_processes} %>    </td>
  </tr>
  <tr>
    <td>
      <%= link_to t('NewBP'), new_business_flow_business_process_path(@business_flow) %>
    </td>
  </tr>
</table>



