<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @request.type %>
</p>

<p>
  <strong>:</strong>
  <%= @request. %>
</p>

<p>
  <strong>Who:</strong>
  <%= @request.who %>
</p>

<p>
  <strong>:</strong>
  <%= @request. %>
</p>

<p>
  <strong>When:</strong>
  <%= @request.when %>
</p>

<p>
  <strong>:</strong>
  <%= @request. %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @request.observation %>
</p>

<p>
  <strong>:</strong>
  <%= @request. %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
