<%= form_for [@landscape, @scope] do |f| %>
  <% if @scope.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scope.errors.count, "error") %> prohibited this scope from being saved:</h2>

      <ul>
      <% @scope.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Definition</a></li>
      <li><a href="#tab3" data-toggle="tab">Implementation</a></li>    
    </ul>
    <div class="tab-content">

    <div class="tab-pane active" id="tab1">
<!-- Tab content for Definition -->

      <div class="row">
        <div class="span2 text-right">Name:
        </div>
        <div class="span6 field"><%= f.text_field :name%>
        </div>
        <div class="span1 text-right">Code:
        </div>
        <div class="span1 field"><%= f.text_field :code%>
        </div>
        <div class="span1 text-right">Status:
        </div>
        <div class="span1 field"><%=  f.collection_select :status_id, @statuses_list, :id, :name %>
        </div>
      </div>

      <div class="row">
        <div class="span2 text-right">Hierarchy:
        </div>
        <div class="span2 field"><%= f.text_field :hierarchy, :readonly => true %>
        </div>
      </div>

      <div class="row">
        <div class="span2 text-right">Description:
        </div>
        <div class="span10 field"><%= f.text_field :description%>
        </div>
      </div>

<!-- Tab content -->
    </div>

    <div class="tab-pane" id="tab3">
<!-- Tab content for Implementation -->
      
        <div class="row">
          <div class="span2 text-right">Object:
          </div>
          <div class="span2 field"><%= %>
          </div>
          <div class="span2 text-right">Business process:
          </div>
          <div class="span2 field"><%= %>
          </div>
        </div>
      
        <div class="row">
          <div class="span2 text-right">Check description:
          </div>
          <div class="span10 field"><%= %>
          </div>
        </div>

        <div class="row">
          <div class="span2 text-right">Check script:
          </div>
          <div class="span10 field"><%= %>
          </div>
        </div>

        <div class="row">
          <div class="span2 text-right">Generated condition:
          </div>
          <div class="span10 field"><%= %>
          </div>
        </div>

      
<!-- Tab content -->
    </div>

    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
