<% provide(:title, 'Managing scopes') %>

  <ul class="breadcrumbs">
    <li>> <%= link_to @scope.landscape.playground.name, @scope.landscape.playground %> > </li>
    <li> <%= link_to @scope.landscape.name, @scope.landscape %> > </li>
    <li><%= @scope.name %> </li>
  </ul>

<h1>Editing a scope</h1>

<%= render 'form' %>

<%= link_to 'Back', @scope %>
