<% provide(:title, (t('ManagingScs'))) %>

<% content_for :page_heading do %>
  <%= image_tag(index_audit_tag_for(@scope), :alt => "Quality hit") %> <%= t('Scope') %>: <%= @scope.name %>
<% end %>
<% content_for :breadcrums do %>
  <ul class="breadcrumbs">
    <li>> <%= link_to @scope.landscape.playground.name, @scope.landscape.playground %> > </li>
    <li> <%= link_to @scope.landscape.name, @scope.landscape %> > </li>
    <li><%= @scope.name %> </li>
  </ul>
<% end %>

<%= render 'form' %>

<%= link_to t('Back'), @scope %>
