<% provide(:title, 'Managing scopes') %>
<% content_for :page_heading do %>
  <%= image_tag(index_audit_tag_for(@scope), :alt => "Quality hit") %> <%= t('Scope') %>: <%= @scope.name %>
<% end %>
<% content_for :breadcrums do %>
  <ul class="breadcrumbs">
    <li>> <%= link_to @scope.landscape.playground.name, @scope.landscape.playground %> > </li>
    <li> <%= link_to @scope.landscape.name, @scope.landscape %> > </li>
    <li><%= @scope.name %> </li>
  </ul>
<% end %>

  <ul class="mid_menu">
    <li><%= link_to 'Edit', edit_scope_path(@scope) %> |</li>
    <li><%= link_to 'Up', @scope.landscape %> | </li>
    <li><%= link_to 'Destroy', @scope, confirm: 'Are you sure?', method: :delete %></li>
  </ul>

<!-- <p id="notice"><%= notice %></p> -->

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#definition" data-toggle="tab"> <%= t('Definition') %> </a></li>
      <li><a href="#tab2" data-toggle="tab">Query</a></li> 
      <li><a href="#ownership" data-toggle="tab"> <%= t('Ownership') %> </a></li>

      <!-- li class="inactive"><a href="#tab5" data-toggle="tab">Sample data</a></li -->    
    </ul>
    <div class="tab-content">
  
    <div class="tab-pane active" id="definition">
      <%= render partial: "shared/object_definition", locals: {this_object: @scope} %>
    </div>    

    <div class="tab-pane" id="tab2">
<!-- Tab content for Query -->

      <div class="row">
        <div class="col-md-2 text-right"><%= t('Interface') %>:
        </div>
        <div class="col-md-2"><%= @scope.load_interface%>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-2 text-right"> <%= t('Technology') %>:
        </div>
        <div class="col-md-2"><%= @scope.db_technology%>
        </div>
        <div class="col-md-2 text-right"> <%= t('Connection') %>:
        </div>
        <div class="col-md-2"><%= @scope.db_connection%>
        </div>
        <div class="col-md-2 text-right"> <%= t('OwnerSchema') %>:
        </div>
        <div class="col-md-2"><%= @scope.db_owner_schema%>
        </div>
      </div>
       <div class="row">
        <div class="col-md-2 text-right"> <%= t('Structure') %>:
        </div>
        <div class="col-md-2"><%= @scope.structure_name%>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 text-right"> <%= t('Query') %>:
        </div>
        <div class="col-md-6"><pre><%= @scope.SQL_query%></pre>
        </div>
      </div>

<!-- Tab content -->
    </div>

    <div class="tab-pane" id="ownership">
      <%= render partial: "shared/object_ownership", locals: {this_object: @scope} %>
    </div>
    
    </div>
  </div>
 




