<%= form_for(@business_rule) do |f| %>
  <% if @business_rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business_rule.errors.count, "error") %> prohibited this business_rule from being saved:</h2>

      <ul>
      <% @business_rule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Definition</a></li>
      <li><a href="#tab2" data-toggle="tab">Metrics</a></li>
      <li><a href="#tab3" data-toggle="tab">Implementation</a></li>    
      <li><a href="#tab4" data-toggle="tab">Solving</a></li>
      <li><a href="#tab5" data-toggle="tab">Exceptions list</a></li>    
      <li><a href="#tab6" data-toggle="tab">Ownership</a></li>
    </ul>
    <div class="tab-content">

    <div class="tab-pane active" id="tab1">
<!-- Tab content -->
      <div class="field">
        <%= f.label :code %><br />
        <%= f.text_field :code %>
      </div>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :description %><br />
        <%= f.text_area :description, :rows => 5 %>
      </div>
      <div class="field">
        <%= f.label :business_value %><br />
        <%= f.text_area :business_value, :rows => 5 %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
<!-- Tab content -->
    </div>

    <div class="tab-pane" id="tab2">
<!-- Tab content -->
      <div class="field">
        <%= f.label :complexity %><br />
        <%= f.text_field :complexity %>
      </div>
      <div class="field">
        <%= f.label :added_value %><br />
        <%= f.text_field :added_value %>
      </div>
      <div class="field">
        <%= f.label :severity %><br />
        <%= f.text_field :severity %>
      </div>
      <div class="field">
        <%= f.label :maintenance_cost %><br />
        <%= f.text_field :maintenance_cost %>
      </div>
      <div class="field">
        <%= f.label :maintenance_duration %><br />
        <%= f.text_field :maintenance_duration %>
      </div>
<!-- Tab content -->
    </div>

    <div class="tab-pane" id="tab3">
<!-- Tab content -->
      <div class="field">
        <%= f.label :rule_type_string %><br />
        <%= f.text_field :rule_type_string %>
      </div>
      <div class="field">
        <%= f.label :condition %><br />
        <%= f.text_area :condition, :rows => 5  %>
      </div>
<!-- Tab content -->
    </div>

    <div class="tab-pane" id="tab4">
<!-- Tab content -->
      <div class="field">
        <%= f.label :correction_method %><br />
        <%= f.text_area :correction_method, :rows => 5  %>
      </div>
      <div class="field">
        <%= f.label :correction_batch %><br />
        <%= f.text_field :correction_batch %>
      </div>
<!-- Tab content -->
    </div>

    <div class="tab-pane" id="tab5">
<!-- Tab content -->
Not exception list yet
<!-- Tab content -->
    </div>

    <div class="tab-pane" id="tab6">
<!-- Tab content -->
      <div class="field">
        <%= f.label :playground_id %><br />
        <%= @business_rule.playground_id %>
      </div>
      <div class="field">
        <%= f.label :version %><br />
        <%= f.text_field :version %>
      </div>
      <div class="field">
        <%= f.label :status %><br />
        <%= f.text_field :status %>
      </div>
      <div class="field">
        <%= f.label :owner %><br />
        <%= f.text_field :owner %>
      </div>
      <div class="field">
        <%= f.label :approver %><br />
        <%= f.text_field :approver %>
      </div>
      <div class="field">
        <%= f.label :approved_at %><br />
        <%= @business_rule.approved_at %>
      </div>
      <div class="field">
        <%= f.label :scope_id %><br />
        <%= @business_rule.scope_id %>
      </div>
      <div class="field">
        <%= f.label :business_process_id %><br />
        <%= @business_rule.business_process_id %>
      </div>
<!-- Tab content -->
    </div>
    </div>
  </div>

<% end %>
