<%= form_for [@business_process, @business_rule] do |f| %>
  <% if @business_rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business_rule.errors.count, "error") %> prohibited this business_rule from being saved:</h2>

      <ul>
      <% @business_rule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Definition</a></li>
      <li><a href="#tab2" data-toggle="tab">Metrics</a></li>
      <li><a href="#tab3" data-toggle="tab">Implementation</a></li>    
      <li><a href="#tab4" data-toggle="tab">Solving</a></li>
      <li><a href="#tab5" data-toggle="tab">Exceptions list</a></li>    
    </ul>
    <div class="tab-content">

    <div class="tab-pane active" id="tab1">
<!-- Tab content for Definition -->

      <div class="row">
        <div class="col-md-2 text-right">Name:
        </div>
        <div class="col-md-10 field"><%= f.text_field :name, :class => "col-md-8" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 text-right">Code:
        </div>
        <div class="col-md-2 field"><%= f.text_field :code%>
        </div>
        <div class="col-md-1 text-right">Status:
        </div>
        <div class="col-md-1 field"><%=  f.collection_select :status_id, @statuses_list, :id, :name %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 text-right">Hierarchy:
        </div>
        <div class="col-md-2 field"><%= f.text_field :hierarchy, :readonly => true %>
        </div>
        <div class="col-md-1 text-right"> Rule type:
        </div>
        <div class="col-md-2 field"><%= f.collection_select :rule_type_id, @rule_types_list, :id, :name  %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 text-right">Description:
        </div>
        <div class="col-md-10 field"><%= f.text_area :description, :rows => 5, :class => "col-md-8" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 text-right">Business value:
        </div>
        <div class="col-md-10 field"><%= f.text_area :business_value, :rows => 5, :class => "col-md-8" %>
        </div>
      </div>

<!-- Tab content -->
    </div>

    <div class="tab-pane" id="tab2">
<!-- Tab content for Metrics -->
      
        <div class="row">
          <div class="col-md-2 text-right">Complexity:
          </div>
          <div class="col-md-2 field"><%= f.collection_select :complexity_id, @complexity_list, :id, :name  %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 text-right">Severity:
          </div>
          <div class="col-md-2 field"><%= f.collection_select :severity_id, @severity_list, :id, :name  %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 text-right">Added value:
          </div>
          <div class="col-md-2 field"><%= f.text_field :added_value %> <%= display_currency%>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 text-right">Maintenance cost:
          </div>
          <div class="col-md-2 field"><%= f.text_field :maintenance_cost %> <%= display_currency%>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 text-right">Maintenance workload:
          </div>
          <div class="col-md-3 field"><%= f.text_field :maintenance_duration %> <%= display_duration%>
          </div>
        </div>

<!-- Tab content -->
    </div>
 
    <div class="tab-pane" id="tab3">
<!-- Tab content for Implementation -->
      
        <div class="row">
          <div class="col-md-2 text-right">Object:
          </div>
          <div class="col-md-2 field"><%= f.collection_select :business_object_id, @business_objects_list, :id, :name  %>
          </div>
          <div class="col-md-2 text-right">Business process:
          </div>
          <div class="col-md-2">current
          </div>
        </div>
      
        <div class="row">
          <div class="col-md-2 text-right">Check description:
          </div>
          <div class="col-md-10 field"><%= f.text_area :check_description, :rows => 5, :class => "col-md-8" %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 text-right">Check script:
          </div>
          <div class="col-md-10 field"><%= f.text_area :check_script, :rows => 5, :class => "col-md-8" %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 text-right">Generated condition:
          </div>
          <div class="col-md-10 field"><%= f.text_area :condition, :rows => 5, :class => "col-md-8" %>
          </div>
        </div>
     
<!-- Tab content -->
    </div>

    <div class="tab-pane" id="tab4">
<!-- Tab content for Solving -->
      
        <div class="row">
          <div class="col-md-2 text-right" width="200">Correction method:
          </div>
          <div class="col-md-10 field"><%= f.text_area :correction_method, :rows => 5, :class => "col-md-8"  %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 text-right">Correction script:
          </div>
          <div class="col-md-10 field"><%= f.text_area :correction_script, :rows => 5, :class => "col-md-8"  %>
          </div>
        </div>
      
        <div class="row">
          <div class="col-md-2 text-right">Correction batch:
          </div>
          <div class="col-md-10 field"><%= f.text_field :correction_batch, :class => "col-md-8" %>
          </div>
        </div>
      
<!-- Tab content -->
    </div>

    
    <div class="tab-pane" id="tab5">
<!-- Tab content for Exceptions -->
      
        <div class="row">
          <div class="col-md-2 text-right">Exceptions:
          </div>
          <div class="col-md-10 field"><%= f.text_area :white_list, :rows => 5, :class => "col-md-8" %>
          </div>
        </div>
      
<!-- Tab content -->
    </div>

    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
