<% provide(:title, 'Managing business rules') %>

  <ul class="breadcrumbs">
    <li>> <%= link_to @business_rule.business_process.business_flow.business_area.name, @business_rule.business_process.business_flow.business_area %> > </li>
    <li><%= link_to @business_rule.business_process.business_flow.name, @business_rule.business_process.business_flow %> > </li>
    <li><%= link_to @business_rule.business_process.name, @business_rule.business_process %> > </li>
    <li><%= @business_rule.name %> </li>
  </ul>

<h1>Editing a business rule</h1>

<%= render 'form' %>

<%= link_to 'Back', @business_rule %>
