<% provide(:title, 'Business Rules index') %>

<% if signed_in? %>

<h1>Business rules</h1>

<table class="table table-striped">
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Description</th>
    <th>Created by</th>
    <th>Created at</th>
    <th>Business process</th>
  </tr>

<% @business_rules.each do |business_rule| %>
  <tr>
    <td><%= link_to business_rule.code, business_rule %></td>
    <td><%= business_rule.name %></td>
    <td><%= business_rule.description %></td>
    <td><%= business_rule.created_by %></td>
    <td><%= business_rule.created_at %></td>
    <td><%= business_rule.business_process_id %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Business rule', new_business_rule_path %>

<% else %>

You must log in to access this page. 
<%= link_to ' Click here', root_path %>

<% end %>
