<% provide(:title, 'Managing business rules') %>

<h1>Business rules</h1>

<table class="table table-striped">
  <tr>
    <th>Hierarchy</th>
    <th>Code</th>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Created by</th>
    <th>Updated by</th>
  </tr>

<% @business_rules.each do |business_rule| %>
  <tr>
    <td><%= link_to business_rule.hierarchy, business_rule %></td>
    <td><%= link_to business_rule.code, business_rule %></td>
    <td><%= business_rule.name %></td>
    <td><%= business_rule.description %></td>
    <td><%= business_rule.status.name %></td>
    <td><%= business_rule.created_by %></td>
    <td><%= business_rule.updated_by %></td>
  </tr>
<% end %>
</table>

<br />
