<% provide(:title, 'Show Business Rules') %>

<% if signed_in? %>

   <h1>Business Rule: <%= @business_rule.code %></h1>
   
  <ul class="mid_menu">
    <li><%= link_to 'Edit', edit_business_rule_path(@business_rule) %> |</li>
    <li><%= link_to 'Back', business_rules_path %> |</li>
    <li><%= link_to 'Destroy', @business_rule, confirm: 'Are you sure?', method: :delete %></li>
  </ul>

<p id="notice"><%= notice %></p>


  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Definition</a></li>
      <li><a href="#tab2" data-toggle="tab">Metrics</a></li>
      <li><a href="#tab3" data-toggle="tab">Implementation</a></li>    
      <li><a href="#tab4" data-toggle="tab">Solving</a></li>
      <li><a href="#tab5" data-toggle="tab">Exceptions list</a></li>    
      <li><a href="#tab6" data-toggle="tab">Ownership</a></li>
    </ul>
    <div class="tab-content">
 
    <div class="tab-pane active" id="tab1">
<!-- Tab content -->
      <table>
        <tr>
          <td align="right" width="100px"><b>Name:</b>
          </td>
          <td><%= @business_rule.name %>
          </td>
        </tr>
        <tr>
          <td align="right"><b>Description:</b>
          </td>
          <td><%= @business_rule.description %>
          </td>
        </tr>
        <tr>
          <td align="right"><b>Business value:</b>
          </td>
          <td><%= @business_rule.business_value %>
          </td>
        </tr>
      </table>
<!-- Tab content -->
    </div>

    <div class="tab-pane" id="tab2">
<!-- Tab content -->
      <table>
        <tr>
          <td align="right" width="200px"><b>Rule type:</b>
          </td>
          <td><%= @business_rule.rule_type_string %>
          </td>
          <td align="right"><b>Condition:</b>
          </td>
          <td><%= @business_rule.condition %>
          </td>
        </tr>
        <tr>
          <td align="right" width="100px"><b>Complexity:</b>
          </td>
          <td><%= @business_rule.complexity %>
          </td>
          <td align="right"><b>Added value:</b>
          </td>
          <td><%= @business_rule.added_value %>
          </td>
        </tr>
        <tr>
          <td align="right" width="100px"><b>Severity:</b>
          </td>
          <td><%= @business_rule.severity %>
          </td>
          <td align="right"><b>Owner:</b>
          </td>
          <td><%= @business_rule.owner %>
          </td>
        </tr>
        <tr>
          <td align="right" width="100px"><b>Maintenance cost:</b>
          </td>
          <td><%= @business_rule.maintenance_cost %>
          </td>
          <td align="right"><b>Maintenance workload:</b>
          </td>
          <td><%= @business_rule.maintenance_duration %>
          </td>
        </tr>
        <tr>
          <td align="right" width="100px"><b>Scope:</b>
          </td>
          <td><%= @business_rule.scope_id%>
          </td>
          <td align="right"><b>Business process:</b>
          </td>
          <td><%= @business_rule.business_process_id%>
          </td>
        </tr>
      </table>
<!-- Tab content -->
    </div>
 
    <div class="tab-pane" id="tab3">
<!-- Tab content -->
      <table>
        <tr>
          <td align="right"><b>Description:</b>
          </td>
          <td><%= @business_rule.description %>
          </td>
        </tr>
        <tr>
          <td align="right" width="100px"><b>Check:</b>
          </td>
          <td><%= @business_rule.condition %>
          </td>
        </tr>
      </table>
<!-- Tab content -->
    </div>

    <div class="tab-pane" id="tab4">
<!-- Tab content -->
      <table>
        <tr>
          <td align="right" width="200"><b>Correction method:</b>
          </td>
          <td><%= @business_rule.correction_method %>
          </td>
        </tr>
        <tr>
          <td align="right"><b>Correction batch:</b>
          </td>
          <td><%= @business_rule.correction_batch %>
          </td>
        </tr>
      </table>
<!-- Tab content -->
    </div>
    
    <div class="tab-pane" id="tab6">
<!-- Tab content -->
      <table>
        <tr>
          <td align="right" width="100px"><b>Name:</b>
          </td>
          <td><%= @business_rule.name %>
          </td>
          <td align="right"><b>Created by:</b>
          </td>
          <td><%= @business_rule.created_by %>
          </td>
        </tr>
        <tr>
          <td align="right"><b>Code:</b>
          </td>
          <td><%= @business_rule.code %>
          </td>
          <td align="right"><b>Created at:</b>
          </td>
          <td><%= @business_rule.created_at %>
          </td>
        </tr>
        <tr>
          <td align="right"><b>Id:</b>
          </td>
          <td><%= @business_rule.id %>
          </td>
          <td align="right"><b>Updated by:</b>
          </td>
          <td><%= @business_rule.updated_by %>
          </td>
        </tr>
        <tr>
          <td align="right"><b>Owned by:</b>
          </td>
          <td>
          </td>
          <td align="right"><b>Updated at:</b>
          </td>
          <td><%= @business_rule.updated_at %>
          </td>
        </tr>
        <tr>
          <td align="right" width="100px"><b>Version:</b>
          </td>
          <td><%= @business_rule.version%>
          </td>
          <td align="right"><b>Status:</b>
          </td>
          <td><%= @business_rule.status%>
          </td>
        </tr>
        <tr>
          <td align="right" width="100px"><b>Approver:</b>
          </td>
          <td><%= @business_rule.approver%>
          </td>
          <td align="right"><b>Approval date:</b>
          </td>
          <td><%= @business_rule.approved_at%>
          </td>
        </tr>
      </table>
<!-- Tab content -->
    </div>
   
    </div>
  </div>
    
<table width=100%<
  <tr><td><hr /></td></tr>
  <tr align="left">
    <th>Linked business policies</th>
    <th></th>
  </tr>
</table>

<% else %>

You must log in to access this page.

<%= link_to ' Click here', root_path %>

<% end %>




