<% provide(:title, 'Managing business rules') %>

  <ul class="breadcrumbs">
    <li>> <%= link_to @business_rule.business_process.business_flow.business_area.name, @business_rule.business_process.business_flow.business_area %> > </li>
    <li><%= link_to @business_rule.business_process.business_flow.name, @business_rule.business_process.business_flow %> > </li>
    <li><%= link_to @business_rule.business_process.name, @business_rule.business_process %> > </li>
    <li><%= @business_rule.name %> </li>
  </ul>

  <h1><%= image_tag(index_audit_tag_for(@business_rule), :alt => "Quality hit") %> Business Rule: <%= @business_rule.name %></h1>

  <ul class="mid_menu">
    <li><%= link_to 'Edit', edit_business_rule_path(@business_rule) %> |</li>
    <li><%= link_to 'Up', @business_rule.business_process %> |</li>
    <li><%= link_to 'Destroy', @business_rule, confirm: 'Are you sure?', method: :delete %></li>
  </ul>

<!-- <p id="notice"><%= notice %></p> -->


  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Definition</a></li>
      <li><a href="#tab2" data-toggle="tab">Metrics</a></li>
      <li><a href="#tab3" data-toggle="tab">Implementation</a></li>    
      <li><a href="#tab4" data-toggle="tab">Solving</a></li>
      <li><a href="#tab5" data-toggle="tab">Rejected records</a></li> 
      <li><a href="#tab6" data-toggle="tab">White list</a></li> 
      <li><a href="#tab7" data-toggle="tab">Pending updates</a></li> 
      <li><a href="#tab8" data-toggle="tab">Ownership</a></li>
    </ul>
    <div class="tab-content">
 
    <div class="tab-pane active" id="tab1">
<!-- Tab content for Definition -->

      <div class="row">
        <div class="span2 text-right">Name:
        </div>
        <div class="span10"><%= @business_rule.name%>
        </div>
      </div>

      <div class="row">
        <div class="span2 text-right">Code:
        </div>
        <div class="span2"><%= @business_rule.code%>
        </div>
        <div class="span1 text-right">Status:
        </div>
        <div class="span1"><%= @business_rule.status.name%>
        </div>
      </div>

      <div class="row">
        <div class="span2 text-right">Hierarchy:
        </div>
        <div class="span2"><%= @business_rule.hierarchy%>
        </div>
         <div class="span1 text-right"> Rule type:
         </div>
         <div class="span2"><%= @business_rule.rule_type.name%>
         </div>
      </div>

      <div class="row">
        <div class="span2 text-right">Description:
        </div>
        <div class="span6"><pre><%= @business_rule.description %></pre>
        </div>
      </div>

      <div class="row">
        <div class="span2 text-right">Business value:
        </div>
        <div class="span6"><pre><%= @business_rule.business_value %></pre>
        </div>
      </div>

<!-- Tab content -->
    </div>

    <div class="tab-pane" id="tab2">
<!-- Tab content for Metrics -->
      
        <div class="row">
          <div class="span2 text-right"> Complexity:
          </div>
          <div class="span2"><%= @business_rule.complexity.name %>
          </div>
        </div>

        <div class="row">
          <div class="span2 text-right">Added value:
          </div>
          <div class="span2"><%= @business_rule.added_value %> <%= display_currency%>
          </div>
        </div>

        <div class="row">
          <div class="span2 text-right">Severity:
          </div>
          <div class="span2"><%= @business_rule.severity.name %>
          </div>
        </div>

        <div class="row">
          <div class="span2 text-right">Maintenance cost:
          </div>
          <div class="span2"><%= @business_rule.maintenance_cost %> <%= display_currency%>
          </div>
        </div>

        <div class="row">
          <div class="span2 text-right">Maintenance workload:
          </div>
          <div class="span2"><%= @business_rule.maintenance_duration %> <%= display_duration%>
          </div>
        </div>

<!-- Tab content -->
    </div>
 
    <div class="tab-pane" id="tab3">
<!-- Tab content for Implementation -->
      
        <div class="row">
          <div class="span2 text-right">Object:
          </div>
          <div class="span2"><%= link_to @business_rule.business_object.name, @business_rule.business_object %>
          </div>
          <div class="span2 text-right">Business process:
          </div>
          <div class="span2"><%= @business_rule.business_process.name%>
          </div>
        </div>
      
        <div class="row">
          <div class="span2 text-right">Check description:
          </div>
          <div class="span6"><pre><%= @business_rule.check_description %></pre>
          </div>
        </div>

        <div class="row">
          <div class="span2 text-right">Check script:
          </div>
          <div class="span6"><pre><%= @business_rule.check_script %></pre>
          </div>
        </div>

        <div class="row">
          <div class="span2 text-right">Generated condition:
          </div>
          <div class="span6"><pre><%= @business_rule.condition %></pre>
          </div>
        </div>

<!-- Tab content -->
    </div>

    <div class="tab-pane" id="tab4">
<!-- Tab content for Solving -->
      
        <div class="row">
          <div class="span2 text-right" width="200">Correction method:
          </div>
          <div class="span6"><pre><%= @business_rule.correction_method %></pre>
          </div>
        </div>

        <div class="row">
          <div class="span2 text-right">Correction script:
          </div>
          <div class="span6"><pre><%= @business_rule.correction_script %></pre>
          </div>
        </div>
      
        <div class="row">
          <div class="span2 text-right">Correction batch:
          </div>
          <div class="span2"><%= @business_rule.correction_batch %>
          </div>
        </div>
      
<!-- Tab content -->
    </div>
    
    <div class="tab-pane" id="tab5">
<!-- Tab content for Rejected records -->
      
<table width=100%>
  <tr><td><hr /></td></tr>
  <tr align="left">
    <th>Rejected records</th>
    <th></th>
  </tr>
  <tr>
    <td>
      <table class="table table-striped table-condensed">
        <tr align="left">
          <th> <%= @business_rule.business_object.key_columns %> </th>
          <th> <%= @business_rule.business_object.published_columns %> </th>
          <th> Updated by </th>
          <th> Updated at </th>
          <th> Observation </th>
        </tr>
        <%@business_rule.breaches.each do |breach| %>
        <tr align="left">
          <td valign="top"> <%=link_to breach.pk_values, edit_breach_path(breach) %> </td>
          <td valign="top"> <%=breach.current_values %> </td>
          <td valign="top"> <%=breach.updated_by %> </td>
          <td valign="top"> <%=breach.updated_at %> </td>
          <td valign="top"> <%=breach.description %> </td>
        </tr>
        <% end%>
      </table>
    </td>
  </tr>
</table>
      
<!-- Tab content -->
    </div>
    

    
    <div class="tab-pane" id="tab6">
<!-- Tab content for White list -->
      
<table width=100%>
  <tr><td><hr /></td></tr>
  <tr align="left">
    <th>White List</th>
    <th></th>
  </tr>
  <tr>
    <td>
      <table class="table table-striped table-condensed">
        <tr align="left">
          <th> <%= @business_rule.business_object.key_columns %> </th>
          <th> <%= @business_rule.business_object.published_columns %> </th>
          <th> Updated by </th>
          <th> Updated at </th>
          <th> Observation </th>
        </tr>
        <%@business_rule.breaches.each do |breach| %>
        <tr align="left">
          <td valign="top"> <%=link_to breach.pk_values, edit_breach_path(breach) %> </td>
          <td valign="top"> <%=breach.current_values %> </td>
          <td valign="top"> <%=breach.updated_by %> </td>
          <td valign="top"> <%=breach.updated_at %> </td>
          <td valign="top"> <%=breach.description %> </td>
        </tr>
        <% end%>
      </table>
    </td>
  </tr>
</table>

<!-- Tab content -->
    </div>
    
    <div class="tab-pane" id="tab7">
<!-- Tab content for Pending updates -->
      
<table width=100%>
  <tr><td><hr /></td></tr>
  <tr align="left">
    <th>Updates pending</th>
    <th></th>
  </tr>
  <tr>
    <td>
      <table class="table table-striped table-condensed">
        <tr align="left">
          <th> <%= @business_rule.business_object.key_columns %> </th>
          <th> <%= @business_rule.business_object.published_columns %> </th>
          <th> Updated by </th>
          <th> Updated at </th>
          <th> Observation </th>
        </tr>
        <%@business_rule.breaches.each do |breach| %>
        <tr align="left">
          <td valign="top"> <%=link_to breach.pk_values, edit_breach_path(breach) %> </td>
          <td valign="top"> <%=breach.current_values %> </td>
          <td valign="top"> <%=breach.updated_by %> </td>
          <td valign="top"> <%=breach.updated_at %> </td>
          <td valign="top"> <%=breach.description %> </td>
        </tr>
        <% end%>
      </table>
    </td>
  </tr>
</table>
      
<!-- Tab content -->
    </div>
    
    <div class="tab-pane" id="tab8">
<!-- Tab content for Ownership -->

      <div class="row">
        <div class="span2 text-right">Unique id:
        </div>
        <div class="span2"><%= @business_rule.id%>
        </div>
        <div class="span2 text-right">Created by:
        </div>
        <div class="span2"><%= @business_rule.created_by%>
        </div>
      </div>
      <div class="row">
        <div class="span2 text-right">Playground id:
        </div>
        <div class="span2"><%= @business_rule.playground_id%>
        </div>
        <div class="span2 text-right">Created at:
        </div>
        <div class="span2"><%= @business_rule.created_at%>
        </div>
      </div>
      <div class="row">
        <div class="span2 text-right">Owner:
        </div>
        <div class="span2"><%= @business_rule.owner.login%>
        </div>
        <div class="span2 text-right">Updated by:
        </div>
        <div class="span2"><%= @business_rule.updated_by%>
        </div>
      </div>
      <div class="row">
        <div class="span2 text-right">Parent:
        </div>
        <div class="span2"><%= link_to @business_rule.business_process.name, @business_rule.business_process %>
        </div>
        <div class="span2 text-right">updated at:
        </div>
        <div class="span2"><%= @business_rule.updated_at%>
        </div>
      </div>

<!-- Tab content -->
    </div>
   
    </div>
  </div>
    








