<% provide(:title, (t('Managing') + ' ' + t('Territories'))) %>

<% content_for :page_heading do %>
  <%= t('Territory') %>: <%= @territory.name %>
<% end %>
      
  <ul class="mid_menu">
    <li><%= link_to t('Edit'), edit_territory_path(@territory) %> |</li>
    <li><%= link_to t('Back'), @territory.parent_territory %> |</li>
    <li><%= link_to t('Destroy'), @territory, confirm: 'Are you sure?', method: :delete %></li>
  </ul>

<!-- <p id="notice"><%= notice %></p> -->

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab"><%= t('Definition') %></a></li>
      <li><a href="#tab2" data-toggle="tab"><%= t('Ownership') %></a></li>
    </ul>
    <div class="tab-content">


    <div class="tab-pane active" id="tab1">
<!-- Tab content for Definition -->
      <%= render partial: "shared/object_definition", locals: {this_object: @territory} %>
    </div>

    <div class="tab-pane" id="tab2">
<!-- Tab content for Ownership -->
      <%= render partial: "shared/object_ownership", locals: {this_object: @territory} %>
    </div>
    
    </div>
  </div>

<table width=100%>    
  <tr><td><hr /></td></tr>
  <tr align="left">
    <th><%= t('Territories') %></th>
    <th></th>
  </tr>
  <tr>
    <td>
      <%= render partial: "shared/child_object_index", locals: {this_child_index: @territory.child_territories} %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to t('Add') + ' ' + t('Territory'), new_territory_territory_path(@territory) %>
    </td>
  </tr>
</table>



