<% provide(:title, 'Home') %>

      <% if signed_in? %>

        <h1><%= @playground_measured.name %>'s dashboard </h1>
        <h2><%= @current_user.last_name %>'s view</h2>

          <div id="measures">
            <%= render partial: "shared/render_charts", locals: {this_object: @playground_measured} %>
          </div>  
        <hr/>

        <h3> Top 10 Business Rules activity </h3>

        <div class="container">
          <div class="col-md-4">
          <h4>Main risk spots</h4>
          <table class="table table-striped">
            <tr>
              <th></th>
              <th>Code</th>
              <th>Name</th>
              <th>Status</th>
            </tr>
          
          <% @business_rules_index.each do |business_rule| %>
            <tr>
              <td><%= image_tag(index_audit_tag_for(business_rule), :alt => "Quality hit") %></td>
              <td class="col_narrow"><%= link_to business_rule.code, business_rule %></td>
              <td><%= business_rule.name %></td>
              <td><%= business_rule.status.name %></td>
            </tr>
          <% end %>
          </table>
          </div>

          <div class="col-md-4">
          <h4>Recent updates</h4>
          <table class="table table-striped">
            <tr>
              <th></th>
              <th>Code</th>
              <th>Name</th>
              <th>Updated at</th>
            </tr>
          
          <% @business_rules_updated.each do |business_rule| %>
            <tr>
              <td><%= image_tag(index_audit_tag_for(business_rule), :alt => "Quality hit") %></td>
              <td class="col_narrow"><%= link_to business_rule.code, business_rule %></td>
              <td><%= business_rule.name %></td>
              <td><%= business_rule.updated_at %></td>
            </tr>
          <% end %>
          </table>
          </div>

          <div class="col-md-4">
          <%= render partial: "shared/simple_search", locals: {this_path: :root} %>

          <table class="table table-striped">
            <tr>
              <th></th>
              <th>Code</th>
              <th>Name</th>
              <th>Status</th>
            </tr>
          
          <% @business_rules_search.each do |business_rule| %>
            <tr>
              <td><%= image_tag(index_audit_tag_for(business_rule), :alt => "Quality hit") %></td>
              <td class="col_narrow"><%= link_to business_rule.code, business_rule %></td>
              <td><%= business_rule.name %></td>
              <td><%= business_rule.status.name %></td>
            </tr>
          <% end %>
          </table>

          </div>

        </div>

      <% else %>

        <h1>Welcome to Open Data Quality Stairs</h1>
        <!-- User info -->
        <div class="row">
          <div class="col-md-8">
            <%= link_to "Please login here : Sign in", signin_path %>
          </div>
        </div>
        <div class="row">
          <!-- Articles -->
          <div class="col-md-8">
            <img src="assets/ODQ_Stairs.png" alt="Pragmatic & progressive">
          </div>
        </div>

      <% end %>  



