<%= form_for [@mappings_list, @mapping] do |f| %>
  <% if @mapping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mapping.errors.count, "error") %> prohibited this mapping from being saved:</h2>

      <ul>
      <% @mapping.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


      <div class="row">
        <div class="span6 text-center"> <h3> SOURCE </h3> 
        </div>
        <div class="span2 text-center"> <h3> TARGET </h3> 
        </div>
      </div>

      <div class="row">
        <div class="span2 text-center"> Software  
        </div>
        <div class="span3 field"> <%= f.text_field :source_software %>
        </div>
        <div class="span3 offset1 field"> <%= f.text_field :target_software %>
        </div>   
      </div>

      <div class="row">
        <div class="span2 text-center"> Table  
        </div>
        <div class="span3 field"> <%= f.text_field :source_table %>
        </div>
        <div class="span3 offset1 field"> <%= f.text_field :target_table %>
        </div>   
      </div>

      <div class="row">
        <div class="span2 text-center"> Code and value  
        </div>
        <div class="span2 field"> <%= f.text_field :source_code %>
        </div>
        <div class="span2 field"> <%= f.text_field :source_caption %>
        </div>   
        <div class="span2 field"> <%= f.text_field :target_caption %>
        </div>
        <div class="span2 field"> <%= f.text_field :target_code  %>
        </div> 
      </div>

      <hr/>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
