<%= form_for (@mappings_list) do |f| %>

<!-- Layout with master mappings_list data heading -->

      <div class="row">
        <div class="col-md-4 text-center"> <h3>  <%= t('Source') %> </h3> 
        </div>
        <div class="col-md-2 text-center"> <h3>  <%= t('Target') %> </h3> 
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 text-center"> <%= t('Software') %>
        </div>
        <div class="col-md-2 text-center"> <%= t('Table') %>
        </div>
        <div class="col-md-2 text-center"> <%= t('Table') %>
        </div>
        <div class="col-md-2 text-center"> <%= t('Software') %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 text-center"> <%= @mappings_list.source_list.software_name %>  
        </div>
        <div class="col-md-2 text-center"> <%= @mappings_list.source_list.table_name %>     
        </div>
        <div class="col-md-2 text-center"> <%= @mappings_list.target_list.table_name %>    
        </div>
        <div class="col-md-2 text-center"> <%= @mappings_list.target_list.software_name %>     
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 text-center"> <%= t('Code') %>
        </div>
        <div class="col-md-2 text-center"> <%= t('Value') %>
        </div>
        <div class="col-md-2 text-center"> <%= t('Value') %>
        </div>
        <div class="col-md-2 text-center"> <%= t('Code') %>
        </div>
      </div>

<!-- Loop with details mappings data to update -->

        <% fields_for :mappings do |m| %>
          <div class="row">
            <div class="col-md-2 field"> <%= m.text_field :source_code, :disabled => true %>
            </div>
            <div class="col-md-2 field"> <%= m.text_field :source_caption, :disabled => true %>
            </div>   
            <div class="col-md-2 field"> <%= m.collection_select :target_caption, @target_values, :value_caption, :value_caption %>
            </div>
          </div>
          <hr/>
        <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
