<% provide(:title, t('ManagingMaps') %>

<% content_for :page_heading do %>
    <%= t('Software') %>: <%= @mapping.source_software %>
<% end %> 

  <ul class="mid_menu">
    <li><%= link_to t('Edit'), edit_mapping_path(@mapping) %> |</li>
    <li><%= link_to t('Up'), @mapping.mappings_list %> |</li>
    <li><%= link_to t('Destroy'), @mapping, confirm: 'Are you sure?', method: :delete %></li>
  </ul>

      <div class="row">
        <div class="col-md-6 text-center"> <h3> <%= t('Source') %> </h3> 
        </div>
        <div class="col-md-6 text-center"> <h3> <%= t('Target') %> </h3> 
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 text-center"> <%= t('Software') %> 
        </div>
        <div class="col-md-2 text-center"> <%= t('Table') %> 
        </div>
        <div class="col-md-1 text-center"> <%= t('Code') %>  
        </div>
        <div class="col-md-1 text-center"> <%= t('Value') %>  
        </div>
        <div class="col-md-1 text-center"> <%= t('Value') %>  
        </div>
        <div class="col-md-1 text-center"> <%= t('Code') %>  
        </div>
        <div class="col-md-2 text-center"> <%= t('Table') %>  
        </div>
        <div class="col-md-2 text-center"> <%= t('Software') %>  
        </div>       
      </div>

      <div class="row">
        <div class="col-md-2 text-center"> <%= @mapping.source_software %>
        </div>
        <div class="col-md-2 text-center"> <%= @mapping.source_table %>
        </div>
        <div class="col-md-1 text-center"> <%= @mapping.source_code %>
        </div>
        <div class="col-md-1 text-center"> <%= @mapping.source_caption %>
        </div>
        <div class="col-md-1 text-center"> <%= @mapping.target_caption %>
        </div>
        <div class="col-md-1 text-center"> <%= @mapping.target_code %>
        </div>
        <div class="col-md-2 text-center"> <%= @mapping.target_table %> 
        </div>
        <div class="col-md-2 text-center"> <%= @mapping.target_software %>
        </div>       
      </div>

      <hr/>


      <div class="row">
        <div class="col-md-2 text-right"> <h2> <%= t('Ownership') %>:</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 text-right"><%= t('Playground') %>:
        </div>
        <div class="col-md-1"><%= @mapping.playground_id%>
        </div>
        <div class="col-md-1 text-right"><%= t('Id') %>:
        </div>
        <div class="col-md-1"><%= @mapping.id%>
        </div>
        <div class="col-md-1 text-right"><%= t('Parent') %>:
        </div>
        <div class="col-md-2"><%= link_to @mapping.mappings_list.name, @mapping.mappings_list %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 text-right"><%= t('CreatedBy') %>:
        </div>
        <div class="col-md-2"><%= @mapping.created_by %>
        </div>
        <div class="col-md-2 text-right"><%= t('UpdatedBy') %>:
        </div>
        <div class="col-md-2"><%= @mapping.updated_by%>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 text-right"><%= t('CreatedAt') %>:
        </div>
        <div class="col-md-2"><%= @mapping.created_at %>
        </div>
        <div class="col-md-2 text-right"><%= t('UpdatedAt') %>:
        </div>
        <div class="col-md-2"><%= @mapping.updated_at%>
        </div>
      </div>


