<%= form_for(@values_list) do |f| %>
  <% if @values_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@values_list.errors.count, "error") %>: <%= t('ErrorWarn')%></h2>

      <ul>
      <% @values_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="col-md-2 text-right"><%= t('Name') %>:
    </div>
    <div class="col-md-6 field"><%= f.text_field :name, :class => "col-md-6" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 text-right"><%= t('Description') %>:
    </div>
    <div class="col-md-10 field"><%= f.text_area :description, :rows => 5, :class => "col-md-8" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 text-right"><%= t('Software') %>:
    </div>
    <div class="col-md-2 field"><%= f.collection_select :software_id, @softwares_list, :id, :name  %>
    </div>
    <div class="col-md-2 text-right"><%= t('Table') %>:
    </div>
    <div class="col-md-2 field"><%= f.text_field :table_name %>
    </div>
  </div>
  
  
  <table>
    <tr align="left">
      <th></th>
      <th> <%= t('Name') %> </th>
      <th> <%= t('Code') %> </th>
      <th> <%= t('Value') %> </th>
      <th> <%= t('Description') %> </th>
    </tr>
    <%=  f.nested_fields_for :values, wrapper_tag: 'tr' do |value| %>
      <td><%= value.remove_nested_fields_link {image_tag("remove.png")} %></td>
      <td><%= value.text_field :name %> </td>
      <td><%= value.text_field :value_code %> </td>
      <td><%= value.text_field :value_caption %> </td>
      <td><%= value.text_field :description %> </td>
    <% end %>
  </table>      

  <br/>   
  <%= f.add_nested_fields_link :values, image_tag("add.png") %> <%= t('New') %> 
  <br/>
  <br/>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
