<% provide(:title, 'Managing lists of values') %>
<% content_for :page_heading do %>
    Lists of values
<% end %> 

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Code</th>
      <th>Owner</th>
      <th>Updated by</th>
      <th>Updated at</th>
    </tr>
  </thead>

  <tbody>
    <% @values_list.each do |values_list| %>
      <tr>
        <td><%= link_to values_list.name, values_list %></td>
        <td class="col_medium"><%= values_list.description %></td>
        <td class="col_narrow"><%= values_list.code %></td>
        <td><%= values_list.owner.login %></td>
        <td><%= values_list.updated_by %></td>
        <td><%= values_list.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New List of values', new_values_list_path %>
