<%= form_for(@parameters_list) do |f| %>
  <% if @parameters_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parameters_list.errors.count, "error") %>: <%= t('ErrorWarn') %></h2>

      <ul>
      <% @parameters_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-2 text-right"><%= t('Name') %>:
    </div>
    <div class="col-md-6 field"><%= f.text_field :name, :class => "col-md-6" %>
    </div>
    <div class="col-md-2 text-right"><%= t('User') %>:
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 text-right"><%= t('Description') %>:
    </div>
    <div class="col-md-10 field"><%= f.text_area :description, :rows => 5, :class => "col-md-8" %>
    </div>
  </div>

  <table>
    <tr align="left">
      <th></th>
      <th> <%= t('Name') %> </th>
      <th> <%= t('Code') %> </th>
      <th> <%= t('Value') %> </th>
      <th> <%= t('Description') %> </th>
      <th><%= t('ValidFrom') %></th>
      <th><%= t('ValidTo') %></th>
    </tr>
    <%=  f.nested_fields_for :parameters, wrapper_tag: 'tr' do |param| %>
      <td><%= param.remove_nested_fields_link {image_tag("remove.png")} %></td>
      <td><%= param.text_field :name %> </td>
      <td><%= param.text_field :code %> </td>
      <td><%= param.text_field :property %> </td>
      <td><%= param.text_field :description %> </td>
      <td><%= param.text_field :active_from %>  </td>
      <td><%= param.text_field :active_to %> </td>
    <% end %>
  </table>
  
  <br/>   
  <%= f.add_nested_fields_link :parameters, image_tag("add.png") %> <%= t('New') %> 
  <br/>
  <br/>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
