<% provide(:title, (t('ManagingActs'))) %>

<% content_for :page_heading do %>
    <%= t('Activities')%>
<% end %> 

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('Name')%></th>
      <th><%= t('Description')%></th>
      <th><%= t('Code')%></th>
      <th><%= t('Owner')%></th>
      <th><%= t('CreatedBy')%></th>
      <th><%= t('UpdatedBy')%></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= link_to activity.name, activity %></td>
        <td><%= activity.description %></td>
        <td><%= activity.code %></td>
        <td><%= activity.owner.user_name %></td>
        <td><%= activity.created_by %></td>
        <td><%= activity.updated_by %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


