<%= form_for [@business_flow, @business_process] do |f| %>
  <% if @business_process.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business_process.errors.count, t('error')) %>: <%= t('ValidationWarn') %></h2>

      <ul>
      <% @business_process.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <%= render partial: "shared/object_definition_form", locals: {f: f} %>
 
      <div class="row">
        <div class="col-md-2 text-right"><%= t('PCFindex') %>:
        </div>
        <div class="col-md-2 field"><%= f.text_field :pcf_index %>
        </div>
        <div class="col-md-2 text-right"><%= t('PCFreference') %>:
        </div>
        <div class="col-md-2 field"><%= f.text_field :pcf_reference %>
        </div>
      </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
