<% provide(:title, 'Managing business processes') %>

<h1>Business processes</h1>

<table class="table table-striped">
  <tr>
    <th>Hierarchy</th>
    <th>Code</th>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Created by</th>
    <th>Updated by</th>
  </tr>

<% @business_processes.each do |business_process| %>
  <tr>
    <td><%= link_to business_process.hierarchy, business_process %></td>
    <td><%= link_to business_process.code, business_process %></td>
    <td><%= business_process.name %></td>
    <td><%= business_process.description %></td>
    <td><%= business_process.status.name %></td>
    <td><%= business_process.created_by %></td>
    <td><%= business_process.updated_by %></td>
  </tr>
<% end %>
</table>

<br />

