<h1>Listing check_types</h1>

<table>
  <tr>
    <th>Playground</th>
    <th>Code</th>
    <th>Name</th>
    <th>Description</th>
    <th>Session number</th>
    <th>Session name</th>
    <th>Created by</th>
    <th>Updated by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @check_types.each do |check_type| %>
  <tr>
    <td><%= check_type.playground_id %></td>
    <td><%= check_type.code %></td>
    <td><%= check_type.name %></td>
    <td><%= check_type.description %></td>
    <td><%= check_type.session_number %></td>
    <td><%= check_type.session_name %></td>
    <td><%= check_type.created_by %></td>
    <td><%= check_type.updated_by %></td>
    <td><%= link_to 'Show', check_type %></td>
    <td><%= link_to 'Edit', edit_check_type_path(check_type) %></td>
    <td><%= link_to 'Destroy', check_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Check type', new_check_type_path %>
