<p id="notice"><%= notice %></p>

<p>
  <b>Playground:</b>
  <%= @check_type.playground_id %>
</p>

<p>
  <b>Code:</b>
  <%= @check_type.code %>
</p>

<p>
  <b>Name:</b>
  <%= @check_type.name %>
</p>

<p>
  <b>Description:</b>
  <%= @check_type.description %>
</p>

<p>
  <b>Session number:</b>
  <%= @check_type.session_number %>
</p>

<p>
  <b>Session name:</b>
  <%= @check_type.session_name %>
</p>

<p>
  <b>Created by:</b>
  <%= @check_type.created_by %>
</p>

<p>
  <b>Updated by:</b>
  <%= @check_type.updated_by %>
</p>


<%= link_to 'Edit', edit_check_type_path(@check_type) %> |
<%= link_to 'Back', check_types_path %>
