<header>
  <div class="container-fluid">
    <div class="row">
      <div class="logo col-md-1">     
        <%= link_to image_tag(display_logo, alt: "OpenDataQuality"), 'http://www.opendataquality.com/' %>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-10">
            <nav class="top_menu">
              <ul>
                <% if signed_in? %>
                  <li> <%= t('User') %> <%= current_login %> </li>
                  <li> <%= link_to t('Sign_out'), signout_path, method: "delete" %></li>
                <% else %>
                  <li> <%= link_to t('Sign_in'), signin_path %></li>
                <% end %>
                  <li> <%= link_to t('Help'), "#" %> </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <h1> <%= yield(content_for?(:page_heading) ? :page_heading : :title) %> </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <%= yield(:breadcrums) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if signed_in? %>
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="navbar-text"> - Version 0.3 -</li>
        <li> <%= link_to t('Home'), root_path %> </li>
        <li> <%= link_to t('Display'), root_path %> </li>
        <li> <%= link_to t('Notify'), notifications_path %> </li>
        <li> <%= link_to t('Monitor'), monitoring_path %> </li>
      </ul>
    </div>
  </div>
<% end %>
</header>
