<%= form_for [@parameters_list, @parameter] do |f| %>
  <% if @parameter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parameter.errors.count, "error") %> prohibited this parameter from being saved:</h2>

      <ul>
      <% @parameter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :param_code %><br>
    <%= f.text_field :param_code %>
  </div>
  <div class="field">
    <%= f.label :param_value %><br>
    <%= f.text_field :param_value %>
  </div>

Validity period: 
</br>
</br>

<div class="input-daterange" data-behaviour="datepicker" id="datepicker" data-date-format="dd/mm/yyyy">
   <%= f.text_field :active_from, :class => "input-small" %>  
   <col-md- class="add-on">to</col-md->
   <%= f.text_field :active_to, :class => "input-small" %> 
</div>
<script type="text/javascript">
  $('[data-behaviour~=datepicker]').datepicker();
</script>

</br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
